@import "./Variables.scss";

main {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	overflow-x: hidden;
	padding: 0.5rem;
	.cart__list {
		margin: 1rem 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		.product__card-cart {
			border: 0.1px solid rgba(0, 0, 0, 0.26);
			box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
			display: flex;
			justify-content: space-around;
			gap: 1rem;
			max-width: 720px;
			width: 100%;
			padding: 0.2rem;
			.product__image {
				height: 140px;
				width: 140px;
				display: grid;
				place-items: center;
				img {
					height: 120px;
					width: 120px;
					object-fit: contain;
				}
			}
			.product__details {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 1.2rem;
				padding: 0.5rem;
				p {
					width: 60px;
				}
				input {
					width: 50px;
					height: 25px;
				}
				button {
					background-color: $red;
					color: $text-white;
					border: none;
					cursor: pointer;
					font-size: 1rem;
					padding: 0.4rem 1rem;
				}
			}
		}
	}
	.cart__details-card {
		border: 0.1px solid rgba(0, 0, 0, 0.26);
		box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
		max-width: 340px;
		width: 100%;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		p {
			line-height: 2rem;
		}
		h3 {
			text-align: center;
		}
		hr {
			height: 2px;
			width: 100%;
			background-color: #000;
			border: none;
			margin: 1rem 0;
		}
		input {
			width: 160px;
			height: 35px;
			margin: 1rem 0;
			padding: 0 2px;
			&::placeholder {
				color: $text-dark;
				opacity: 0.8;
			}
		}
		button {
			width: 120px;
			height: 35px;
			background-color: $red;
			color: $text-white;
			border: none;
			cursor: pointer;
			font-size: 1rem;
			&:last-child {
				margin: 1rem auto;
			}
		}
	}
}

@media (max-width: 1340px) {
	main {
		flex-direction: column;
		align-items: center;
		.cart__list {
			.product__card-cart {
				padding: 0 0.4rem;
				width: 100%;
				align-items: center;
				justify-content: space-around !important;
				.product__details {
					width: 50% !important;
					display: flex;
					flex-direction: column;
					justify-content: space-between !important;
					align-items: flex-start !important;
					height: 180px;
					.removeItemBtn {
						height: 30px !important;
						font-size: 0.8rem !important;
					}
					.product__details-price,
					.product__details-quantity {
						font-size: 0.8rem;
					}
				}
			}
		}
	}
}
