@import "Variables.scss";

.home__container {
	max-width: 1440px;
	margin: 0 auto;
	// background-color: beige;
}

.hero__container {
	// width: 100%;
	background: linear-gradient(
			261.49deg,
			rgba(249, 246, 244, 0.58) 4.58%,
			rgba(186, 152, 130, 0.3) 79.44%
		),
		url("../img/hero-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 340px;
	max-width: 1440px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	h1 {
		max-width: 45ch;
		font-weight: 900;
		text-align: center;
		line-height: 2.5rem;
		color: #fff;
		text-shadow: 5px 2px #000;
	}
	button {
		background-color: $red;
		border: none;
		color: $text-white;
		padding: 0.8rem 1.4rem;
		cursor: pointer;
		font-weight: 600;
	}
}

@media (max-width: 720px) {
	.hero__container {
		h1 {
			font-size: 1.6rem;
		}
	}
}
