@import "./Variables.scss";

header {
	padding: 1rem;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	a {
		&:first-child {
			text-decoration: none;
			color: #000;
		}
	}
}

.nav__links {
	list-style: none;
	display: flex;
	gap: 1rem;
	align-items: center;
	li {
		display: inline-block;
		padding: 1rem;
		a {
			font-size: 1rem;
			text-decoration: none;
			color: #000;
			position: relative;
			&.active {
				border-bottom: 3px solid $red;
			}
		}
	}
}

.nav__search {
	display: flex;
	gap: 1rem;
	align-items: center;
	list-style: none;
	height: 100%;
	li {
		display: inline-block;
		padding: 1rem;
		button {
			background-color: transparent;
			border: none;
			@include flex(row, center);
			cursor: pointer;
		}
		&:first-child {
			display: flex;
			gap: 0.5rem;
			input {
				height: 30px;
				width: 220px;
				font-size: 1rem;
				padding-left: 5px;
			}
		}
		a {
			&[href="/cart"] {
				position: relative;
				span {
					font-size: 1rem;
					position: absolute;
					top: -13px;
					left: 8px;
					background-color: $red;
					color: $text-white;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					margin: 0 auto;
					display: grid;
					justify-content: center;
				}
			}
		}
	}
}

@media (max-width: 720px) {
	.nav__links {
		display: none;
	}
	.nav__search li:first-child {
		display: none;
	}
}
