@import './Variables.scss';

header {
  padding: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a{
    &:first-child {
      text-decoration: none;
      color: #000;
    }
  }
}



.nav__links {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  li {
    display: inline-block;
    padding: 1rem;
    a {
      font-size: 1.2rem;
      text-decoration: none;
      color: #000;
      position: relative;
      &.active {
        border-bottom: 3px solid $red;
      }
      
    }
  }
  
}